body {
    display: flex;
    margin: 0;
    gap: 2px;
    padding: 4px;
    overflow: hidden;
}

body video {
    width: 100%;
    object-fit: fit;
    border: 2px solid white;
    background: black;
}

#myVideo {
    flex: 2;
    transform: scaleX(-1);
}

#connectButton  {
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#sidebar {
    flex: 1;
    display: none;
    flex-direction: column;
    gap: 2px;
}

#opponentVideo {
    display: block;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#chatLog {
    display: block;
    flex: 1;
    max-height: 200px;
    overflow-y: auto;
}
#textField {
    width: 100%;
}
#disconnectButton {
  width: 100%;
  margin-top: 4px;
  height: 40px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#loadingSpinner {
  width: 40px;
  height: 40px;
  margin: 20px auto;
}
.spinner-icon {
  display: inline-block;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}

.my-message {
  text-align: right;
  background-color: #dcf8c6;
  padding: 5px;
  margin: 4px;
  border-radius: 5px;
}
.opponent-message {
  text-align: left;
  background-color: #f1f0f0;
  padding: 5px;
  margin: 4px;
  border-radius: 5px;
}
