body {
    display: flex;
    margin: 0;
    gap: 2px;
    padding: 4px;
    overflow: hidden;
}

body video {
    width: 100%;
    object-fit: fit;
    border: 2px solid white;
    background: black;
}

#myVideo {
    flex: 2;
}

#sidebar {
    flex: 1;
    display: none;
    flex-direction: column;
    gap: 2px;
}

#opponentVideo {
    display: block;
}
#chatLog {
    display: block;
}
#textField {
    width: 100%;
}
#matchmakeButton  {
    width: 200px;
    height: 50px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}